@import "_values";

// Globle element
button {
  width: 80px;
  height: 40px;
  padding: 5px;
  border-radius: 18px;
  background-color: transparent;
  border: 1px solid white;

  &:hover {
    opacity: 0.5;
    border-color: rgba($color: $mainColor, $alpha: 0.5);
  }
}
::placeholder {
  color: rgba($color: white, $alpha: 0.7);
}

// End Globle

// Start Header
header {
  position: absolute;
  width: 100%;
  z-index: 5;
  .container {
    @include Fl-Ex(space-between, center, wrap);
    margin: 30px auto;
    padding: 20px;
    border-radius: 20px;
    .shape {
      cursor: grab;
      display: flex;
      align-items: center;
      color: rgba($color: white, $alpha: 0.5);
      &:hover {
        color: rgba($color: $premieryColor, $alpha: 0.5);
      }
      .your {
        overflow: hidden;
        padding-right: 20px;
        p {
          animation: transLeft 3s linear infinite alternate;
        }
      }
      .need {
        overflow: hidden;
        padding-left: 20px;
        p {
          animation: transRight 3s linear infinite alternate;
        }
      }
      hr {
        width: 30px;
        transform: rotate(90deg);
        margin: 0 -15px;
        border: 2px solid;
      }
    }
    nav {
      @include Fl-Ex(space-between, center, wrap);
      .link {
        margin-right: 10px;
        position: relative;
        i {
          display: none;
          color: white;
          font-size: 40px;
          margin-right: 15px;
        }
        ul {
          @include Fl-Ex(space-between, center, wrap);
          list-style: none;
          li {
            a {
              display: block;
              text-decoration: none;
              padding-right: 20px;
              color: white;
              position: relative;
            }
            a:hover {
              color: $mainColor;
              &::after {
                content: "";
                position: absolute;
                bottom: -180%;
                left: -10%;
                width: 100%;
                height: 2px;
                background-color: $mainColor;
              }
            }
          }
        }
        @media (max-width: 767px) {
          i {
            display: inline;
          }
          &:hover ul {
            display: flex;
            flex-flow: column;
          }
          ul {
            display: none;
            background-color: rgba($color: $mainColor, $alpha: 0.5);
            list-style: none;
            @include postio(calc(100% + 15px));
            min-width: 200px;
            border-radius: 5px;
            transition: $Main-transition;
            z-index: 1;
            li {
              &:not(:last-child) {
                border-bottom: 1px solid rgba($color: white, $alpha: 0.8);
              }

              a {
                text-decoration: none;
                padding: 15px;
                display: block;
                color: white;
                transition: $Main-transition;
                font-weight: bold;

                &:hover {
                  padding-left: 30px;
                }
                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }

      .btn {
        border-left: 2px solid white;
        padding-left: 15px;

        button {
          a {
            text-decoration: none;
            color: white;
          }
        }
        button:last-child {
          margin-left: 10px;
        }
        @media (max-width: 767px) {
          .register {
            display: none;
          }
        }
      }
      @media (max-width: 767px) {
        justify-content: flex-end;
      } 
      @media (max-width: 350px) {
      .link{
        i{
          font-size: 20px;
        }
      }
      .btn{
        border: 0;
        transform:translatex(-20px);
        button{
          width: 50px;
          border-radius: 15px;
          a{
            font-size: 12px;
          }
        }
      }
    }
    }
   
  }

  
}
// End Header

// Start Landing
.landing {
  background-image: url("../image/landing.jpe");
  background-size: cover;
  height: 100vh;
  background-position: center;
  position: relative;
  @media (max-width: 767px) {
    background-image: url("../image/landing.png");
  }
  .content {
    @include postio(30%);
    width: 100%;
    @include Fl-Ex(space-between, center);
    padding: 20px;
    section:first-child {
      padding: 0;
      margin-left: -60px;
      flex-basis: 300px;
      cursor: grab;
      img {
        width: 100%;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
    .search {
      background: url("../image/search.svg") 20px center no-repeat
        rgba($color: white, $alpha: 0.2);
      width: 800px;
      height: 50px;
      margin: 0 20px;
      padding-left: 70px;
      background-size: 30px;
      outline: 0;
      border: 0;
      color: rgba($color: white, $alpha: 0.7);
    }
    .socialIcon {
      display: flex;
      flex-flow: column;
      i {
        font-size: 20px;
        color: rgba($color: white, $alpha: 0.5);
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        &:hover {
          cursor: pointer;
          color: rgba($color: $mainColor, $alpha: 0.5);
        }
      }
    }
    @media (max-width: 767px) {
      flex-flow: column;
      width: 100%;
      .search {
        width: auto;
      }
      .socialIcon {
        flex-flow: row;
        i {
          margin: 20px 15px;
        }
      }
    }
  }
  .load {
    @include postio(85%, 50%);
    transform: translate(50%, -50%);
    @include Fl-Ex(space-between, center);
    span {
      cursor: grab;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: $mainColor;
      margin-left: 20px;
      animation: upAndDown 0.9s linear infinite alternate;
    }
    span:last-child {
      animation-delay: 0.6s;
    }
    span:nth-child(2) {
      animation-delay: 0.3s;
    }
  }
}
