* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes animBgC1 {
  100% {
    background-color: #03045e;
  }
}

@keyframes animBgC1 {
  100% {
    background-color: #03045e;
  }
}

@-webkit-keyframes animBgC2 {
  100% {
    background-color: #0077b6;
  }
}

@keyframes animBgC2 {
  100% {
    background-color: #0077b6;
  }
}

@media (max-width: 1098px) {
  ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
  }
  :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
  }
  ::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
  }
  ::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
  }
  input:focus::-webkit-input-placeholder {
    color: #0077b6;
  }
  input:focus:-ms-input-placeholder {
    color: #0077b6;
  }
  input:focus::-ms-input-placeholder {
    color: #0077b6;
  }
  input:focus::placeholder {
    color: #0077b6;
  }
}

@media (min-width: 1100px) {
  ::-webkit-input-placeholder {
    visibility: hidden;
  }
  :-ms-input-placeholder {
    visibility: hidden;
  }
  ::-ms-input-placeholder {
    visibility: hidden;
  }
  ::placeholder {
    visibility: hidden;
  }
}

.parent {
  overflow: hidden;
  position: relative;
  height: 120vh;
  font-family: "Open Sans", sans-serif;
  background-color: #001923;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.parent::after, .parent::before {
  content: "";
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #03045e;
  -webkit-transform: translate(-400px, -150px);
          transform: translate(-400px, -150px);
  position: absolute;
  -webkit-animation: animBgC2 4s linear infinite alternate;
          animation: animBgC2 4s linear infinite alternate;
}

.parent::after {
  -webkit-animation: animBgC1 4s linear infinite alternate;
          animation: animBgC1 4s linear infinite alternate;
  -webkit-transform: translate(350px, 250px);
          transform: translate(350px, 250px);
  height: 250px;
  width: 250px;
  background-color: #0077b6;
}

@media (max-width: 767px) {
  .parent::after {
    -webkit-transform: translate(250px, 200px);
            transform: translate(250px, 200px);
  }
  .parent::before {
    -webkit-transform: translate(-300px, -200px);
            transform: translate(-300px, -200px);
  }
}

@media (max-width: 435px) {
  .parent::after {
    -webkit-transform: translate(150px, 250px);
            transform: translate(150px, 250px);
  }
  .parent::before {
    -webkit-transform: translate(-200px, -200px);
            transform: translate(-200px, -200px);
  }
}

.parent .container {
  margin-top: 50px;
  width: 100%;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  text-align: center;
  padding: 20px;
}

@media (min-width: 1099px) {
  .parent .container {
    margin-top: -20px;
  }
}

@media (max-width: 767px) {
  .parent .container {
    max-width: 500px;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
}

@media (max-width: 435px) {
  .parent .container {
    width: 350px;
  }
}

@media (max-width: 350px) {
  .parent .container {
    max-width: 300px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.parent .container .shape {
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
  cursor: -webkit-grab;
  cursor: grab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.parent .container .shape:hover {
  color: rgba(0, 119, 182, 0.5);
}

.parent .container .shape .your {
  overflow: hidden;
  padding-right: 20px;
}

.parent .container .shape .your p {
  -webkit-animation: transLeft 3s linear infinite alternate;
          animation: transLeft 3s linear infinite alternate;
}

.parent .container .shape .need {
  overflow: hidden;
  padding-left: 20px;
}

.parent .container .shape .need p {
  -webkit-animation: transRight 3s linear infinite alternate;
          animation: transRight 3s linear infinite alternate;
}

.parent .container .shape hr {
  width: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 0 -15px;
  border: 2px solid;
}

.parent .container .switch button {
  width: 70px;
  height: 30px;
  border: 0;
}

.parent .container .switch button a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.parent .container .switch button:first-child {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  background-color: #fff;
}

.parent .container .switch button:first-child a {
  color: #03045e;
}

.parent .container .switch button:last-child {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  margin-left: -6px;
  background-color: #03045e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.parent .container .switch button:last-child:hover {
  background-color: white;
}

.parent .container .switch button:last-child:hover a {
  color: #03045e;
}

.parent .container header {
  margin: 20px 40px 30px 40px;
  color: white;
  overflow: hidden;
}

.parent .container header h2 {
  font-size: 30px;
  line-height: 1.8;
}

.parent .container header p {
  text-transform: capitalize;
  font-size: 12px;
  line-height: 1.5;
}

.parent .container header .hr {
  width: 500px;
  margin: 20px 0 0;
  border-color: rgba(238, 238, 238, 0.5);
}

@media (max-width: 767px) {
  .parent .container header .hr {
    width: 350px;
  }
}

@media (max-width: 435px) {
  .parent .container header .hr {
    width: 250px;
  }
}

.parent .container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
}

.parent .container .form input:not(input[type="submit"]) {
  min-width: 300px;
  padding: 20px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  margin-bottom: 10px;
  background-color: #001923;
  color: #0077b6;
  font-size: 13px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 1098px) {
  .parent .container .form .user + label,
  .parent .container .form .pass + label {
    position: absolute;
    top: 10px;
    left: 155px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .parent .container .form .pass + label {
    top: 75px;
  }
  .parent .container .form input:not(input[type="submit"]) {
    padding: 30px 20px 10px;
  }
}

@media (max-width: 1099px) {
  .parent .container .form .user + label,
  .parent .container .form .pass + label {
    display: none;
  }
}

.parent .container .form input[type="email"]:valid {
  background-color: #001923;
}

.parent .container .form input:not(input[type="submit"]):focus {
  border: 1px solid #0077b6;
}

.parent .container .form input:not(input[type="submit"]):focus + label {
  color: #0077b6;
}

.parent .container .form input:not(input[type="submit"]):focus + label::after {
  content: ",";
  position: absolute;
  right: -5px;
  font-size: 15px;
}

.parent .container .form input[type="submit"] {
  background-color: #0077b6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  min-width: 200px;
  padding: 15px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.parent .container .form input[type="submit"]:hover {
  background-color: rgba(0, 119, 182, 0.5);
  color: white;
}

.parent .container .other {
  margin: 10px;
}

.parent .container .other a {
  text-decoration: none;
  color: #0077b6;
}

.parent .container .other a:hover {
  color: rgba(0, 119, 182, 0.5);
}

.parent .container .other hr {
  border-color: rgba(238, 238, 238, 0.5);
  margin: 10px;
}

.parent .container .other p {
  margin: 15px;
  color: white;
}

.parent .container .other button {
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  background-color: #001923;
  border: 1px solid #0077b6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.parent .container .other button a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.parent .container .other button:hover {
  background-color: #0077b6;
  -webkit-box-shadow: 0 0 20px #0077b6, 0 0 40px #0077b6, 0 0 80px #0077b6;
          box-shadow: 0 0 20px #0077b6, 0 0 40px #0077b6, 0 0 80px #0077b6;
}

.parent .container .other button:hover a {
  color: white;
}

@-webkit-keyframes transLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
}

@keyframes transLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
}

@-webkit-keyframes transRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
}

@keyframes transRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
}
/*# sourceMappingURL=style.css.map */