// Variables Values
$mainColor: #03045e;
$premieryColor: #0077b6;

$Font-family: "Open Sans", sans-serif;
$fColor: #777;
$Main-transition: 0.3s;
$Padding: 60px;

// End Variables

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  overflow: hidden;
  position: relative;
  height: 120vh;
  font-family: "Open Sans", sans-serif;
  background-color: #001923;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::after,
  &::before {
    content: "";
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: $mainColor;
    transform: translate(-450px, -100px);
    position: absolute;
    animation: animBgC2 4s linear infinite alternate;
  }

  &::after {
    animation: animBgC1 4s linear infinite alternate;
    transform: translate(330px, 250px);
    height: 250px;
    width: 250px;
    background-color: $premieryColor;
  }

  @media (max-width: 450px) {
    height: 150vh;
    &::after {
      transform: translate(150px, 380px);
    }
    &::before {
      transform: translate(-250px, -300px);
    }
  }
  @media (max-width: 767px) {
    &::after {
      transform: translate(250px, 250px);
    }
    &::before {
      transform: translate(-250px, -150px);
    }
  }
  @media (max-width: 376px) {
    &::before {
      transform: translate(-250px, -400px);
    }
  }
  @media (max-width: 361px) {
    height: 160vh;
    &::before {
      transform: translate(-250px, -320px);
    }
  }
  .container {
    margin-top: 100px;
    width: 100%;
    max-width: 800px;
    background-color: rgba($color: white, $alpha: 0.1);
    z-index: 5;
    display: flex;
    flex-flow: column;
    align-items: center;
    backdrop-filter: blur(25px);
    text-align: center;
    padding: 20px;

    @media (max-width: 767px) {
      max-width: 600px;
    }
    @media (max-width: 450px) {
      transform: translatey(-80px);
      width: 350px;
    }
    @media (max-width: 376px) {
      transform: translatey(-180px);
    }
    @media (max-width: 361px) {
      transform: translatey(-70px);
    }
    .shape {
      transform: translateY(-70px);
      cursor: grab;
      display: flex;
      align-items: center;
      color: rgba($color: white, $alpha: 0.5);
      transition: $Main-transition;
      justify-content: center;

      &:hover {
        color: rgba($color: $premieryColor, $alpha: 0.5);
      }

      .your {
        overflow: hidden;
        padding-right: 20px;

        p {
          animation: transLeft 3s linear infinite alternate;
        }
      }

      .need {
        overflow: hidden;
        padding-left: 20px;

        p {
          animation: transRight 3s linear infinite alternate;
        }
      }

      hr {
        width: 30px;
        transform: rotate(90deg);
        margin: 0 -15px;
        border: 2px solid;
      }
    }

    .switch {
      button {
        width: 70px;
        height: 30px;
        border: 0;

        a {
          text-decoration: none;
          color: white;
          font-size: 14px;
          font-weight: 600;
        }
      }

      button:first-child {
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        background-color: rgba($color: $mainColor, $alpha: 0.5);
        transition: $Main-transition;
        &:hover {
          background-color: white;

          a {
            color: $mainColor;
          }
        }
      }

      button:last-child {
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        margin-left: -6px;
        background-color: #fff;

        a {
          color: $mainColor;
        }
      }
    }

    header {
      margin: 20px 40px 30px 40px;
      color: white;
      overflow: hidden;

      h2 {
        font-size: 30px;
        line-height: 1.8;
      }

      p {
        text-transform: capitalize;
        font-size: 12px;
        line-height: 1.5;
      }

      .hr {
        width: 500px;
        margin: 20px 0 0;
        border-color: rgba($color: #eee, $alpha: 0.5);

        @media (max-width: 767px) {
          width: 350px;
        }

        @media (max-width: 435px) {
          width: 250px;
        }
      }
    }

    .form {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;

      .col {
        display: flex;
        flex-flow: column;
        .inputbox {
          text-align: left;
          height: 50px;
          margin-bottom: 20px;
          width: 100%;
          label {
            color: rgba($color: white, $alpha: 0.5);
            display: block;
          }
          input {
            width: 100%;
            min-width: 200px;
            border-radius: 5px;
            outline: 0;
            border: 0;
            background-color: rgba($color: $premieryColor, $alpha: 0.5);
            color: rgba($color: white, $alpha: 0.8);
            height: 1px;
            transition: $Main-transition;
          }

          input:focus,
          input:valid {
            border: 1px solid $premieryColor;
            color: $premieryColor;
            background-color: rgba($color: $mainColor, $alpha: 0.5);
            height: 35px;
            padding: 15px;
            font-size: 13px;
            margin-top: 7px;
          }
          @media (max-width: 767px) {
            text-align: center;
          }
          @media (max-width: 280px) {
            input {
              text-align: center;
            }
          }
        }
      }
      .inputbox:last-child {
        margin: 0;
      }
      .col:last-child {
        transform: translatex(50%);
        input[type="submit"] {
          background-color: $premieryColor;
          transition: $Main-transition;
          min-width: 200px;
          padding: 15px;
          height: 50px;
          color: white;
          border: 0;
          @media (max-width: 281px) {
            transform: translatex(25%);
          }
          &:hover {
            background-color: rgba($color: $premieryColor, $alpha: 0.5);
            color: white;
          }
        }
      }
      @media (max-width: 436px) {
        .col:last-child {
          width: 100px;
          transform: translateX(65%);
        }
      }
    }
    .other {
      margin: 10px;
      a {
        text-decoration: none;
        color: $premieryColor;

        &:hover {
          color: rgba($color: $premieryColor, $alpha: 0.5);
        }
      }

      hr {
        border-color: rgba($color: #eee, $alpha: 0.5);
        margin: 10px;
      }

      p {
        margin: 15px;
        color: white;
      }

      button {
        text-align: center;
        padding: 10px;
        border-radius: 20px;
        background-color: #001923;
        border: 1px solid #0077b6;
        transition: $Main-transition;

        a {
          transition: $Main-transition;
        }

        &:hover {
          background-color: $premieryColor;
          box-shadow: 0 0 20px $premieryColor, 0 0 40px $premieryColor,
            0 0 80px $premieryColor;

          a {
            color: white;
          }
        }
      }
    }
  }
}
@keyframes animBgC1 {
  0% {
    box-shadow: 0 0 40px $premieryColor, 0 0 80px $premieryColor;
  }
  100% {
    background-color: $mainColor;
    box-shadow: 0 0 40px $mainColor, 0 0 80px $mainColor;
  }
}

@keyframes animBgC2 {
  0% {
    box-shadow: 0 0 40px $mainColor, 0 0 80px $mainColor;
  }
  100% {
    background-color: $premieryColor;
    box-shadow: 0 0 40px $premieryColor, 0 0 80px $premieryColor;
  }
}

@keyframes transLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(150%);
  }
}

@keyframes transRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-150%);
  }
}

// background-color: cornflowerblue;
// display         : grid;
// grid-auto-flow  : column;

// @media (max-width: 767px) {
//     grid-auto-flow: row;
// }

// .col {
//     background-color: chocolate;
//     width           : (100% / 2);

//     input {
//         min-width       : 300px;
//         padding         : 15px;
//         border-radius   : 5px;
//         outline         : 0;
//         border          : 0;
//         margin-bottom   : 10px;
//         background-color: #001923;
//         color           : rgba($color: white, $alpha: 0.8);
//         font-size       : 13px;
//     }

//     input:focus {
//         border: 1px solid $premieryColor;
//         color : $premieryColor;
//     }

//     // input[type="submit"] {
//     // }
// }

// .col:last-child {
//     grid-area: 2 / 1 / 3 / 3;
// }
